.toolkit {
  position: relative;
  width: max-content;

  &__container {
    display: grid;
    grid-template-rows: repeat(4, minmax(0, 1fr));
    grid-auto-flow: column;
    row-gap: 0.2rem;
    column-gap: 1rem;
  }

  &__title {
    min-height: 1.25rem;
    margin-top: 0.4rem;
  }
}

.btn-default .svg-icon {
  // filter: invert(1);
  background-color: transparent;
}

.btn-default {
  background-color: #dcdcdc;
}

.btn-active .svg-icon {
  filter: invert(1);
  background-color: transparent;
}

.btn-active {
  background-color: #292929;
  color: #fff;
}

.icon-default {
  color: #fff;
  background-color: transparent;
}

.icon-active {
  color: #000;
  background-color: white;
}
